@CHARSET "UTF-8";
/* *************************************** Pager ************************************************* */

table.pager_head
{
  border-collapse            : collapse;
  border-spacing             : 0;
  color                      : #000000;
  font-family                : tahoma, sans-serif;
  font-size                  : 11px;
  font-weight                : bolder;
  margin                     : 6px 10px 6px 10px;
  width                      : 100%;
}

table.pager_foot
{
  border-collapse            : collapse;
  border-spacing             : 0;
  color                      : #666666;
  font-family                : tahoma, sans-serif;
  font-size                  : 11px;
  margin-top                 : 10px;
  width                      : 100%;
}

table.pager_foot td
{
  border                     : 0;
  color                      : #666666;
  font-family                : Tahoma, sans-serif;
  font-size                  : 11px;
  padding                    : 0;
  text-align                 : center;
  width                      : 100%;
}

table.pager_foot td a
{
  color                      : #000000;
  font-family                : Tahoma, sans-serif;
  font-size                  : 11px;
  font-weight                : bold;
  text-decoration            : underline;
}

table.pager_foot td a:hover
{
  color                      : #2B7DC7;
}

table.pager_foot td i.current_page
{
  color                      : #FF0000;
  font-style                 : normal;
  font-weight                : bold;
}
